@import "tailwindcss";

@theme {
  --color-moc-orange: #faa103;
  --color-moc-blue: #01216a;
  --color-moc-grey: #d3d5e0;
  --color-moc-red: #e40146;
  --color-moc-lightblue: #0072ce;
  --font-heading: "dunbar-tall", "Open Sans", sans-serif;
  --font-body: "dunbar-text", "Open Sans", sans-serif;
}

/* Set global fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p,
span,
a,
li {
  font-family: var(--font-body);
}

/* Accordions */
.accordion {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

.accordion.active > .bi-chevron-down {
  transform: rotate(180deg);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active {
  background-color: #faa103;
  color: #01216a;
}

/* .accordion:hover {
  background-color: ;
  color: ;
} */

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Select boxes */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

.swiper-button-next,
.swiper-button-prev {
  position: unset !important;
  color: #01216a !important;
  background-color: #d3d5e0 !important;
  padding: 10px;
}
